.icon-flying { background-image: url(../img/Flying1.svg);}
.icon-swimming { background-image: url(../img/Swimming.svg);}
.icon-climbing { background-image: url(../img/Climbing.svg);}
.icon-elevation { background-image: url(../img/Elevation.svg);}

.icon-dodge { background-image: url(../img/Dodge.svg);}
.icon-help { background-image: url(../img/Help.svg);}
.icon-hide { background-image: url(../img/Hide.svg);}
.icon-hidden { background-image: url(../img/Hidden.svg);}
.icon-reaction { background-image: url(../img/Reaction.svg);}
.icon-object { background-image: url(../img/Object.svg);}
.icon-concentration { background-image: url(../img/Concentration.png);}
.icon-sleep { background-image: url(../img/Sleep.svg);}

.icon-healing-potion { background-image: url(../img/HealingPotion.svg);}
.icon-initiative { background-image: url(../img/Initiative.png);}
.icon-curse { background-image: url(../img/Curse.svg);}
.icon-polymorph { background-image: url(../img/Polymorph.svg);}
.icon-wildshape { background-image: url(../img/Wildshape.png);}
.icon-bardic { background-image: url(../img/Bardic.svg);}

.icon-dead { background-image: url(../img/Dead.png);}
.icon-dying { background-image: url(../img/Dying.svg);}
.icon-stable { background-image: url(../img/Stable.svg);}

.icon-blinded { background-image: url(../img/Blinded.svg);}
.icon-charmed { background-image: url(../img/Charmed.svg);}
.icon-defeaned { background-image: url(../img/Defeaned.svg);}
.icon-exhaustion { background-image: url(../img/Exhaustion.svg);}
.icon-frightened { background-image: url(../img/Frightened.svg);}
.icon-grappled { background-image: url(../img/Grappled.svg);}
.icon-incapacitated { background-image: url(../img/Incapacitated.svg);}
.icon-invisible { background-image: url(../img/Invisible.svg);}
.icon-paralyzed { background-image: url(../img/Paralyzed.svg);}
.icon-petrified2 { background-image: url(../img/Petrified.svg);}
.icon-petrified { background-image: url(../img/Petrified2.svg);}
.icon-poisoned { background-image: url(../img/Poisoned.svg);}
.icon-prone { background-image: url(../img/Prone.svg);}
.icon-restrained { background-image: url(../img/Restrained.svg);}
.icon-stunned { background-image: url(../img/Stunned.svg);}
.icon-unconscious { background-image: url(../img/Unconcious.svg);}

.icon-crags { background-image: url(../img/crags.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}

.icon-run { background-image: url(../img/run.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}

.icon-strong { background-image: url(../img/strong.png);}
.icon-walking-boot { background-image: url(../img/walking-boot.png);}
.icon-juggler { background-image: url(../img/juggler.png);}

.icon-crossed-swords { background-image: url(../img/crossed-swords.png);}
.icon-punch { background-image: url(../img/punch.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-manacles { background-image: url(../img/manacles.png);}
.icon-round-shield { background-image: url(../img/round-shield.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-embrassed-energy { background-image: url(../img/embrassed-energy.png);}

.icon-tremorsense { background-image: url(../img/suspicious.svg);}
.icon-bleeding-eye { background-image: url(../img/bleeding-eye.png);}
.icon-lightning-tear { background-image: url(../img/lightning-tear.png);}
.icon-star-pupil { background-image: url(../img/star-pupil.png);}
.icon-semi-closed-eye { background-image: url(../img/semi-closed-eye.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}
.icon-one-eyed { background-image: url(../img/one-eyed.png);}
.icon-eye-shield { background-image: url(../img/eye-shield.png);}
.icon-three-quarters-cover { background-image: url(../img/three-quarters-cover.png);}
.icon-half-cover { background-image: url(../img/half-cover.png);}
.icon-full-cover { background-image: url(../img/full-cover.png);}